footer{

  display: flex;
  flex-direction: column;
  background-color: $textColorSecondary;
  overflow-x: hidden;

  ul{
    display: flex;
    max-width: 1200px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 20px;
    margin: 0 auto;
    @media (max-width:950px) {
      justify-content: center;
     }
    li{
      display: flex;
      flex-direction: column;
      margin-right: 50px;
      margin-top: 20px;
    }
  }
  #about{
    h3{
      width: fit-content;
      margin-bottom: 10px;
    }
    p{
      font-size: 12px;
      font-weight: bold;
      width: fit-content;
      max-width: 250px;
      margin-bottom: 10px;
      border-bottom: 2px solid transparent;

    }
  }
  #inc{
    padding-bottom: 80px;
    border-top: 2px solid lightgrey;

    li{
      flex-direction: row;
      align-items: center;
    }
    img{
      width: 20px;
      height: 20px;
      transition: 200ms;
    }
  }
  .socials{
    gap: 8px;
    img{
      padding: 5px;
      background-color: black;
      border-radius: 50%;
    }
  }
  #newsletter{
    min-width: 267px;
  
    input{
      width: 170px;
      height: 40px;
      background-color: $textColorSecondary;
      border: 2px solid lightgrey;
      border-right: none;
      border-radius: 5px 0 0 5px;
      padding-left: 10px;
      box-sizing: content-box;
      font-size: 12px;

    }
    span{
      position: relative;
      left: -5px;
      top: 0;
      max-height: 40px;
      background-color: $purple;
      color: $textColorSecondary;
      border-radius: 0 5px 5px 0;
      padding: 14px;
      font-size: 12px;
    }
  }
}