header{
  position: relative;
  width: 100%;
  text-transform: capitalize;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 15px;
  font-weight: bold;

  li {
    border-bottom: 2px solid transparent;
  }

  h1 {
    font-size: 28px;
  }

  img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  .menu {
    justify-content: space-between;
    @media (max-width: 950px) {
      position: absolute;
      width: 100%;
      top: 0;
      z-index: 2;
      flex-direction: column;
      row-gap: 20px;
      padding: 50px 0 40px 0;
      font-size: 20px;
      background-color: white;
      border: 1px solid $textColorSecondary;
      border-radius: 10px;
      display: none;
    }
  }

  .user {
    margin-left: 40px;
    justify-content: space-between;
    @media (max-width: 950px) {
      flex-direction: column;
      margin: 20px 0 0 0;
      gap: 20px;
    }

    p:hover {
      cursor: pointer;
    }

    #sign-in {
      background-color: $purple;
      color: $textColorSecondary;
      padding: 5px;
      border-radius: 5px;
      margin-left: 10px;
    }
  }

  ul {
    gap: 30px;
    @media (max-width: 950px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }

  #burger {
    position: absolute;
    display: none;
    width: 30px;
    height: 30px;
    content: url('../img/menu.svg');
    @media (max-width: 950px) {
      display: revert;
      left: calc(100% - 30px);
      z-index: 3;
      color: $purple;
    }

  }

  #burgered {
    position: absolute;
    display: none;
    width: 30px;
    height: 30px;
    @media (max-width: 950px) {
      left: calc(100% - 30px);
      z-index: 2;
      &:checked ~ #burger {
        content: url('../img/cross.svg');
      }
    }
  }

  label {
    display: none;
    @media (max-width: 950px) {
      display: revert;
    }
  }
}